-- Verificar se o campo foi criado
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns 
WHERE table_name = 'establishments' 
AND column_name = 'limit_subscribers_one_week';
